.burger {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 24px;
  height: 24px;
  z-index: var(--layer-2);
}
@media (width > 768px) {
  .burger {
    display: none;
  }
}
.burger__body {
  position: relative;
  width: 14px;
  height: 2px;
  background-color: var(--accent-color);
  border-radius: 1px;
}
.burger__body::before {
  content: "";
  position: absolute;
  top: -7px;
  right: 0;
  width: 20px;
  height: 2px;
  background-color: var(--accent-color);
  border-radius: 1px;
}

.burger__body::after {
  content: "";
  position: absolute;
  top: 7px;
  right: 0;
  width: 16px;
  height: 2px;
  background-color: var(--accent-color);
  border-radius: 1px;
}
.burger--open .burger__body {
  background-color: transparent;
}
.burger--open .burger__body::before {
  top: 0px;
  transform: rotate(45deg);
  width: 20px;
  background-color: var(--secondary-color);
}
.burger--open .burger__body::after {
  top: 0px;
  transform: rotate(-45deg);
  width: 20px;
  background-color: var(--secondary-color);
}
.burger--open
.burger__body::after,
.burger__body::before {
  transition: transform var(--transition-time), width var(--transition-time), top var(--transition-time), background-color var(--transition-time);
}
