.characteristics__video {
  position: relative;
}
@media (width > 576px) {
  .characteristics__video {
    margin-bottom: 60px;
  }
}
@media (width <= 576px) {
  .characteristics__video {
    margin-bottom: 40px;
  }
}

.characteristics__video-preview {
  border: 1px solid var(--main-color);
  border-radius: 12px;
}

.characteristics__video-play-link {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: clamp(48px, 1.092rem + 8.14vw, 80px);
  height: clamp(48px, 1.092rem + 8.14vw, 80px);
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid var(--main-color);
  border-radius: 100%;
  box-shadow:
    var(--shadow-glow),
    inset var(--shadow-glow);
  background-color: #2a2a2980;

  transition:
    border-color var(--transition-time),
    box-shadow var(--transition-time);
}

@media (any-hover: hover) {
  .characteristics__video-play-link:hover {
    border-color: var(--accent-color);
    box-shadow:
      var(--shadow-accent-glow),
      inset var(--shadow-accent-glow);
  }
}
.characteristics__video-play-icon {
  width: clamp(10px, 0.208rem + 1.78vw, 17px);
  height: clamp(13px, 0.156rem + 2.8vw, 24px);
  transform: translateX(15%);
}
.characteristics__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(345px, 1fr));
  gap: 40px 20px;
}

.characteristics__card {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.characteristics__card-icon {
  width: clamp(48px, 2.523rem + 2.04vw, 56px);
  height: clamp(48px, 2.523rem + 2.04vw, 56px);
  transform: translateX(-7px);
  margin-bottom: -8px;
}
