.article {
  padding: 80px 0 120px;
}
/* .container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
} */

.article__classes {
  max-width: 744px;
}
.article__classes-list {
  max-width: 179px;
  margin-left: 20px;
  margin-bottom: 80px;
  padding: 0;
}
.article__classes-item {
  margin-bottom: 12px;
}
.article__classes-item::marker {
  color: #3596ed;
  font-size: 1.3em;
}

.article__decor-wrapper-1,
.article__decor-wrapper-2 {
  position: relative;
}
.article__decor-wrapper-1::before {
  top: 150px;
  left: 0;
}
.article__decor-wrapper-2::before {
  bottom: 150px;
  right: 0;
}
.mtb1 {
  margin: 40px 0;
}
@media (width <=578px) {
  .article__classes-list .text {
    margin-bottom: 60px;
  }
}
