:root {
  /* Colors */
  --main-color: #ffffff;
  --accent-color: #ffea00;
  --bg-color: #2a2a29;
  --secondary-color: #c9c69b;
  --disabled-color: #5D5D56;
  --shadow-color: #181817;

  /* font-family */
  --font-family: Montserrat;

  /* container properties */
  --container-width:1240px;
  --container-padding: 15px;

/* transitions */
--transition-time:0.35s;
/* layers */
--layer-negative: -1;
--layer-1:1;
--layer-2:2;
--layer-3:3;
}
