
@font-face {
  font-family: NAMU;
  src:
    local("NAMU Pro"),
    local("NAMU-Pro"),
    url("../../fonts/NAMU-Pro.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: OpenSans;
  src:
    local("OpenSans Regular"),
    local("OpenSans-Regular"),
    url("../../fonts/OpenSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: OpenSans;
  src:
    local("OpenSans Light"),
    local("OpenSans-Light"),
    url("../../fonts/OpenSans-Light.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 200;
}
@font-face {
  font-family: OpenSans;
  src:
    local("OpenSans Regular"),
    local("OpenSans-Regular"),
    url("../../fonts/OpenSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: OpenSans;
  src:
    local("OpenSans SemiBold"),
    local("OpenSans-SemiBold"),
    url("../../fonts/OpenSans-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}