:root {
  /* Fonts */
  --font-family: OpenSans;
  --second-family: NAMU;
  /* Colors */
  --secondary-color: #111111;
  --main-color: #ffffff;
  --even-bg-color: #f8f8f8;
  --accent-color: #c5358c;
  --disabled-color: #ababab;
  --hero-section-color: #dddddd;
  --in-stock-color: #68ae5c;
  --not-available-color: #dc5b5b;
  --hero-bg-color: #dddddd;
  --date-color: #909090;


  /* container */
  --container-width: 1360px;
  /* transitions */
  --transition-time: 300ms;
  /* shadows */
  --card-shadow: 0 4px 41px 0 #adaaaa35;
  --item-shadow: 0 4px 41px 0 #adaaaa3d;
  
}
