@media (width > 1024px){
  .burger{
    display: none;
  }
}
.burger__icon {
  width: 50px;
  height: 50px;
  stroke: var(--main-color);
  transition: stroke var(--transition-time);
}
@media (any-hover: hover){
  .burger__icon:active{
    stroke: var(--accent-color);
  }
}