.header {
  background-color: var(--secondary-color);
  padding-block: 5px;
}
.header__menu{
  transition: all var(--transition-time);
}
@media (width > 1024px) {
  .header {
    display: flex;
    justify-content: center;
    min-height: 90px;
  }
}
.header__container {
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
  max-width: 1360px;
}
.header__controls {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: clamp(25px, -0.446rem + 5.58vw, 50px);
}
.logo-img {
  width: clamp(110px, 3.491rem + 6.62vw, 183px);
}

@media (width <= 1024px) {
  .header__container {
    justify-content: space-between;
  }
  .header__menu {
  display: flex;
  align-items: flex-start;
  position: fixed;
  width: 300px;
  left: -100vw;
  top: 0;
  bottom: 0;
  background-color: var(--secondary-color);
  z-index: 100;
  padding: 90px 30px;
  transition: left var(--transition-time);
  }
}

.header__menu--open {
  left: 0;
}

@media (width <= 576px) {
  .header__container {
    padding-inline: 20px;
  }
}
.bag__icon {
  width: 36px;
  height: 36px;
  stroke: var(--main-color);
  transition: var(--transition-time);
}
.header__menu--open {
  right: 0;
  box-shadow: -2px 0 20px 0 #181817;
}
@media (any-hover: hover) {
  .bag__button:hover {
    color: var(--accent-color);
  }
  .bag__icon:hover {
    stroke: currentColor;
  }
}
