.menu__list {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}
.menu__link {
  color: var(--main-color);
  font-family: var(--second-family);
  font-weight: 900;
  font-size: 20px;
  color: #fff;
}
