.article {
  padding: 80px 0 120px;
}
/* .container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 0 15px;
} */

.article-classes-description {
  max-width: 744px;
}
.article-classes-list {
  max-width: 179px;
  margin-left: 20px;
  margin-bottom: 80px;
  padding: 0;
}
.classes-list-item {
  margin-bottom: 12px;
}
.classes-list-item::marker {
  color: #3596ed;
  font-size: 1.3em;
}
.section-image {
  position: relative;
}

.article-decor-wrapper-1,
.article-decor-wrapper-2 {
  position: relative;
}
.article-decor-wrapper-1::before{
  top: 150px;
  left: 0;
}
.article-decor-wrapper-2::before {
bottom: 150px;
right: 0;
}
.mtb1{
  margin: 40px 0;
}
@media (width <=578px){
  .article-classes-list .text{
    margin-bottom: 60px;
  }
}
