.hero {
  padding-top: 80px;
  position: relative;
}
.hero h1 {
  margin-bottom: 40px;
  font-family: "Oswald", sans-serif;
  font-weight: 600;
  font-size: 62px;
  line-height: 115%;
  text-transform: uppercase;
  color: #2c332f;
}
.hero::after {
  content: "";
  position: absolute;
  bottom: 106px;
  z-index: -1;
  background: url("../img/deco-wide.svg") repeat-x;
  width: 100%;
  height: 48px;
}

.hero .text {
  margin-top: 0;
  margin-bottom: 140px;
  max-width: 440px;
}
strong {
  color: #3596ed;
}
.hero-container {
  display: flex;
  gap: 28px;
  align-items: center;
}
.hero-images {
  position: relative;
  display: flex;
}
.hero-choose {
  position: absolute;
  top: 40px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 161px;
  border: 1px solid #535755;
  padding: 22px;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #535755;
}
.news-container {
  display: flex;
  gap: 28px;
}
.news-article {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 284px;
  background-color: #fff;
  border: 1px solid #d3cbd9;
}
.news-article img {
  display: block;
}
.news-info {
  padding: 20px 20px 0;
  margin-bottom: 12px;
}
.news-article footer {
  padding: 0 20px 20px;
  margin-top: auto;
}
.time {
  display: inline-block;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-align: right;
  color: #6a696977;
  margin-bottom: 8px;
}
.news-link {
  display: inline-flex;
  align-items: baseline;
  gap: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #3596ed;
  transition: opacity 200ms;
}
.news-link::after {
  display: inline-block;
  content: "";
  width: 22px;
  height: 9px;
  background-image: url("../img/arrow-right.svg");
  background-repeat: no-repeat;
  transition: transform 200ms;
}
.news-link:hover::after {
  transform: translateX(8px);
}
.news-link:hover {
  opacity: 0.5;
}
